html, .App{
  height: 100%;
  background-color: white;
}
body, #root, .grid {
  min-height: 100vh;
}

.service-name {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 30pt;
}

.description-text {
  color: whitesmoke;
  font-family: 'Montserrat', sans-serif;
  font-size: 10pt;
}

.links {
  font-family: 'Roboto Mono', monospace;
}

.links:hover {
  color: #E1CE87;
  transition: 0.5s;
}

@media(min-width: 760px) {
  .links {
    font-size: 10pt;
    color: white;
    margin: 1%;
    text-decoration: none;
  }
}
@media(max-width: 770px) {
  .links {
    font-size: 8pt;
    color: white;
    margin: 1%;
    text-decoration: none;
  }
}
@media(max-width: 640px) {
  .links {
    font-size: 6pt;
    color: white;
    margin: 1%;
    text-decoration: none;
  }
}

.active {
  cursor: default;
  color: #E1CE87;
  text-decoration: none;
}

.form_field input{
  font-family: 'Roboto Mono', monospace;
  font-size: 12pt;
  border-bottom: none !important;
}

.btn {
  background-color: transparent;
  border: solid 1px transparent;
  font-family: 'Roboto Mono', monospace;
  font-size: 12pt;
  cursor: pointer;
  padding: 12px;
  border-radius: 25px;
  color: white;
}

.btn:hover {
  transition: 1s;
  border: solid 1px white;
  border-radius: 15px;
}


