@font-face {
  font-family: Peachi-bold;
  src: url("fonts/Peachi-Bold.otf");
}

.log-page-font, .reg-page, .not-found-link, .service-name,
.alert-username, .alert, .not-found-text, .about-block, .time-text-play-vert,
.time-text-play, .btn, .btn-reg, .form_field input, .links, .description-text, .styled-p, .mail-text, .main-text, .nav-link  {
  font-family: Peachi-bold, serif;
}

html, .App{
  height: 100%;
  background-color: white;
}
body, #root, .grid {
  min-height: 100vh;
}

.service-name {
  color: black;
  font-size: 30pt;
}

.description-text {
  color: whitesmoke;
  font-size: 10pt;
}

.form_field input{
  font-size: 12pt;
  border-bottom: none !important;
}

.btn, .btn-reg {
  background-color: transparent;
  border: solid 1px transparent;
  font-size: 12pt;
  cursor: pointer;
  padding: 12px;
  border-radius: 25px;
  color: white;
  text-decoration: none;
}

.btn:hover {
  transition: 1s;
  border: solid 1px white;
  border-radius: 15px;
}

.time-text-play {
  font-size: 40pt;
}

.time-button-play {
  font-size: 20pt;
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin: 25px 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.time-text-play-vert {
  font-size: 12pt;
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin: 25px 0;
}

.sidebar-menu-open {
  transition: all 0.3s ease-in-out;
}

.sidebar-menu-closed {
  transition: all 0.3s ease-in-out;
}

.not-found {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: black;
  height: 100vh;
  width: 100vw;
}

.not-found-link {
  font-size: 25pt;
  color: #E1CE87;
  text-decoration: none;
}

.not-found-text {
  font-size: 50pt;
  margin: 0;
  color: #8d7a2f;
}

.alert {
  position: absolute;
  top: 15vh;
  font-size: 15pt;
  margin: 10px 10px;
  background-color: rgba(139, 0, 0, 0.71);
  padding: 20px;
  border-radius: 15px;
  color: white;
}

.alert-username {
  position: absolute;
  bottom: 5vh;
  font-size: 15pt;
  margin: 10px 10px;
  background-color: rgba(139, 0, 0, 0.71);
  padding: 20px;
  border-radius: 15px;
  color: white;
}

.alert-enter, .alert-username-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active, .alert-username-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit, .alert-username-exit {
  opacity: 1;
}
.alert-exit-active, .alert-username-exit-active{
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.reg-page {
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #463131;;
}

.background {
  height: 100vh;
  width: 100vw;
}

.reg-form {
  font-size: 25pt;
  color: whitesmoke;
  width: 70vw;
  height: 40vh;
  font-family: 'Playfair Display', serif;
}

.input-reg {
  font-family: 'Playfair Display', serif;
  font-size: 25pt;
  background-color: transparent;
  text-decoration: none;
  border: none;
  border-bottom: solid 2px white;
  color: whitesmoke;
  outline: none;
  margin-left: 2vw;
  width: 68vw;
  margin-top: 2vh;
}

.back-arrow {
  font-family: 'Playfair Display', serif;
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0;
  margin: 0;
  border: none;
  color: whitesmoke;
  transition: opacity 500ms;
  opacity: 0.1;
  text-decoration: none;
  font-size: 3rem;
  cursor: pointer;
}

.back-arrow:hover {
  transition: opacity 500ms;
  opacity: 0.5;
}

@media only screen and (min-width: 960px) {
  .styled-p{
    font-size: 28pt;
    line-height: normal;
  }
  .mail-text {
    font-size: 14pt;
    line-height: normal;
  }
  .footer-text {
    font-size: 12pt
  }
  .main-text {
    font-size: 28pt;
    line-height: normal;
  }
  .btn-play {
    scale: 100%;
    margin: 40px 0;
  }
  .login {
    scale: 150%
  }
}
@media only screen and (max-width: 960px) {
  .styled-p {
    font-size: 16pt;
    line-height: normal;
  }
  .footer-text {
    font-size: 10pt;
  }
  .main-text {
    font-size: 16pt;
    line-height: normal;
  }
  .btn-play {
    scale: 75%;
    margin: 30px 0;
  }
  .login {
    scale: 100%
  }
}
@media only screen and (max-width: 768px) {
  .styled-p {
    font-size: 16pt;
    line-height: normal;
  }
  .mail-text {
    font-size: 10pt;
    line-height: normal;
  }
  .footer-text {
    font-size: 8pt;
    line-height: 10px;
  }
  .main-text {
    font-size: 12pt;
    line-height: normal;
  }
  .links {
    font-size: 8pt;
    color: white;
    margin: 1%;
    text-decoration: none;
  }
  .logo {
    width: 50px;
    height: 50px;
    margin-left: 10%;
  }
  .nav-link {
    font-size: 25pt;
    color: black;
  }
}
@media(min-width: 768px) {
  .links {
    font-size: 10pt;
    color: white;
    margin: 1%;
    text-decoration: none;
  }
  .logo {
    width: 100px;
    height: 100px;
    margin-left: 10%;
  }
  .nav-link {
    font-size: 30pt;
    color: black;
  }
}
@media only screen and (max-width: 640px) {
  .btn-play {
    scale: 60%;
    margin: 20px 0;
  }
  .login {
    scale: 75%
  }
  .links {
    font-size: 6pt;
    color: white;
    margin: 1%;
    text-decoration: none;
  }
  .nav-link {
    font-size: 20pt;
    color: black;
  }
}

.styled-p{
  margin: 0;
  text-align: center;
}

.mail-text {
  margin: 0;
  text-align: center;
  opacity: 0.3;
}

.main-text, .footer-text {
  margin: 0 2em;
  text-align: center;
}

.links:hover {
  color: #E1CE87;
  transition: 0.5s;
}

.active {
  cursor: default;
  color: #E1CE87;
  text-decoration: none;
}

.nav-link {
  text-decoration: none;

}

.condition {
  font-size: 20pt;
  margin-top: 4em;
  margin-left: 2em;
}